<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.project.mapper.ProjectUserMapper">

    <resultMap id="BaseResultMap" type="org.dromara.project.domain.ProjectUser">
        <id property="projectId" column="project_id" jdbcType="BIGINT"/>
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <id property="projectUserRole" column="project_user_role" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id,user_id,project_user_role,tenant_id
    </sql>
    <!-- 获取历史所有项目级别和对应的数量 -->
    <select id="getProjectLevelCountByUserId" resultType="map" parameterType="Long">
        SELECT t.project_level, COUNT(*) AS count
        FROM (
        SELECT DISTINCT pbi.project_level, pbi.project_id, pu.user_id
        FROM project_base_info pbi
        INNER JOIN project_user pu ON pbi.project_id = pu.project_id
        WHERE pu.user_id = #{userId}
        AND pu.project_user_role &lt;> 6
        ) t
        GROUP BY t.project_level
    </select>

    <!-- 获取当前正在进行中的项目级别和对应的数量 (&gt; > ), (&lt; < )-->
    <select id="getNowProjectLevelCountByUserId" resultType="map" parameterType="Long">
        SELECT t.project_level, COUNT(*) AS count
        FROM (
        SELECT DISTINCT pbi.project_level, pbi.project_id, pu.user_id
        FROM project_base_info pbi
        INNER JOIN project_user pu ON pbi.project_id = pu.project_id
        WHERE CURRENT_DATE >= pbi.project_establish_time
        AND CURRENT_DATE &lt;= pbi.project_scheduled_completion_time
        AND pu.project_user_role &lt;> 6
        AND pu.user_id = #{userId}
        ) t
        GROUP BY t.project_level
    </select>
</mapper>
